@import url('https://fonts.googleapis.com/css?family=Carter+One');

#title {
    font-family: 'Carter One', cursive;
    color: ;
    left: 540px;
    font-weight: bold;
    font-size: 96px;
    margin: 5px;
    padding: 5px;
}

.style2 {
    font-family: 'Carter One', cursive;
    font-size: 24px;
    margin: 5px;
    padding: 5px;
}

.newsArticles {
    font-size: 24px;
    margin: 5px;
    padding: 5px;
}

.artistSearch {
    font-family: 'Carter One', cursive;
    font-size: 24px;
    margin: 5px;
    padding: 5px;
}

.news {
    font-family: 'Carter One', cursive;
    font-size: 24px;
    margin: 5px;
    padding: 5px;
}

.styleFooter {
    font-weight: bold;
    font-size: 24px;
    margin: 5px;
    padding: 5px;
    
}

.styleFooter2 {
    font-weight: bold;
    font-size: 16px;
    margin: 5px;
    padding: 5px;
    
}

.copyright {
    font-size: 14px;
    color: ;
    margin: 5px;
    padding: 5px;
    
}